.about {
  margin-top: 70px;
}

.about-banner-in {
  margin-bottom: 30px;
  height: 250px;
  max-width: 100%;
  background: url(../images/sobre/banner_sobre.png);
}

.about-banner-in > .container {
  height: 80%;
  align-items: flex-end;
  text-transform: uppercase;
  color: #fff;
}

.about-row-1,
.row-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.about-row-1-left h2 {
  font: var(--heading-m);
  margin-bottom: 30px;
  text-transform: uppercase;
}

.about-row-2 {
  margin-top: 60px;
  justify-content: space-between;
  gap: 30px;
}

.about-row-2 img {
  max-width: 100%;
}

.about-row-3 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-top: 60px;
  justify-content: center;
}

.cite {
  max-width: 60%;
  font-style: italic;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 0;
}

.cite p {
  font-size: 1rem;
  font-style: normal;
  margin-top: 10px;
  color: var(--gray-light);
}

@media screen and (max-width: 500px) {
  .about-row-2 {
    flex-direction: column;
    align-items: center;
  }
}
